**/node_modules
**/.env*
**/.git*
**/.idea
**/.vscode
**/build
**/coverage
**/dist
**/_mocks
**/docs
model/database/query
frontend/src/swagger-client
Dockerfile
README.md
.air.toml
docker-compose*.yaml
CITATION.cff
.gitignore
.editorconfig
.env
.env.example
.golangci.yml
