**/node_modules
**/bin
**/.env*
**/.git*
**/.idea
**/.vscode
**/build
**/coverage
**/dist
**/_mocks
**/docs
**/tmp
**/.direnv
flake.*
model/database/query
frontend/src/swagger-client
Dockerfile
.dockerignore
README.md
.air.toml
docker-compose*.yaml
compose*.yaml
LICENSE
CITATION.cff
.gitignore
.editorconfig
.env
.env.example
.golangci.yml
